.partbox {
    width: 1250px;
    height: 672px;
    padding-top: 87px;
    padding-left: 54.54px;
    padding-right: 101px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #106EE8;
    margin-left: 53px;
    z-index: 1;
}

h1 {
    color: #ffff;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 29px;
}

.skill {
    color: #FFDD55;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 22px;
}
.title {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.middle_btn{
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}

