.main_card{
    width: 445px;
    height: 650px;
    position: relative;
}

.main_card .card_content{
    position: absolute;
    display: block;
    text-align: center;
    padding: 0px 39px 32px 39px;
    width: 434px;
    height: 572px;
    background-color: #A259FF;
    border-radius: 20px;
    border: 3px solid #000000;
}

.main_card .bg_card{
    position: absolute;
    width: 434px;
    height: 572px;
    background-color: #000000;
    border-radius: 20px;
    z-index: -1;
    right: 1px;
    bottom: 67px;
}

.main_card .card_content .header_card{
    width: 100%;
    width: 327px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_card .card_content .header_card .no{
    width: 132px;
    height: 132px;
    margin-top: -70px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0ACF83;
    padding-top: 30px;
}

.main_card .card_content .header_card .no h1{
    font-size: 96px;
    font-weight: 800;
}

.main_card .card_content .mid_card{
    width: 353px;
    height: 400px;
}

.main_card .card_content .mid_card p {
    width: 342px;
    height: 272px;
    overflow: hidden;
}

.main_card .card_content .mid_card .title{
    margin-top: 34px;
    font-size: 40px;
    font-weight: 800;
}

.main_card .card_content .mid_card p{
    margin-top: 22px;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}


.main_card .card_content  .footer_card a{
    width: 316px;
    height: 71px;
    border-radius: 10px;
    background-color: #FFDD55;
    padding: 19px 64px;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: #000000;
}

.main_card .card_content  .footer_card a:hover {
    background-color: #0ACF83;
    color: #FFFFFF;
}