.hero-section {
    width: 100%;
    height: 895px;
    display: flex;
    align-items: center;
}

.left-part{
    max-width: 45%;
    margin-left: 53px;
    margin-bottom: 200px;
}

.left-part .name {
    font-size: 64px;
    font-weight: 800;
    color: #18191F;
}

.skills {
    display: flex;
}

.skills span {
    color: #474A57;
    font-size: 25px;
    font-weight: 600;
    margin-top: 18px;
}

.button-part {
    display: flex;
    margin-top: 36px;
    max-width: 100%;
}

/* avatar main box */
.right-part {
    max-width: 100%; 
}

