.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 116px;
    margin-bottom: 130px;
    width: 100%;
    height: 577px;
}

.footer .header {
    width: 1368px;
    height: 577px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer .header p {
    height: 40px;
    margin-left: 42.21px;
    font-size: 48px;
    height: 63.28px;
    font-weight: 800;
    color: #18191F;
}

.footer .greeting {
    text-indent: 50px;
    margin-top: 78px;
    width: 852px;
    height: 115px;
    font-size: 40px;
    font-weight: bold;
}

.footer .greeting  p {
    width: 100%;
    text-align: center;
}

.footer .link{
    margin-top: 90px;
}

.footer .copy_right{
    margin-top: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 1338px;
}

.footer .copy_right .location{
    display: flex;
    align-items: center;
    margin-left: 27.78px;
    margin-right: 90px;
    font-size: 25px;
    font-weight: 500;
}

.footer .copy_right .location p {
    margin-left: 18.78px;
}


.footer .copy_right .date {
    display: flex;
    width: 500px;
    margin-right: 50.77px;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
}

.footer .copy_right .date p {
    margin-left: 10px;
}

.footer .link_footer a{
    color: #3B5999;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    margin-right: 20px;
}

