.contactMe {
    width: 1368px;
    height: 548px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 181px;
    background-color: #0ACF83;
}   

.contactMe p{
    margin-top: 147px;
    margin-bottom: 87px;
    font-size: 42px;
    font-weight: 800;
    color: #FFFFFF;
}

.contactMe .btn{
    width: 689px;
    height: 142px;
    border-radius: 47px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #FFDD55;
    font-size: 64px;
    font-weight: bold;
    filter: drop-shadow(-20px 20px #0f0f0f);
}

.contactMe .btn:hover{
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

