@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.backgroundMenu {
  width: 100%;
  height: 113px;
  background-color: #000000;
  border-radius: 0 0 50px 50px;
}